/* Reset CSS básico para remover margens e preenchimentos padrão */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ecb827;
    background-color:#e45b00 ;
  }
  
  header {
    background-color: #9c1212;
    padding: 20px;
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
  }
  
  main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  section {
    flex: 2;
    margin-right: 20px;
  }
  
  aside {
    flex: 1;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }